.block.contact {
  background-color: $color-white;
  width: 100vw;
  .block-wrap {
    padding: 10vw;
    > .interior {
      display: table;
      margin: 0 auto;
    }
  }

  .title {
    color: $color-gray;
    text-transform: uppercase;
    margin-bottom: 0.5em;
    font-size: 1.5em;
  }
  .go {
    @include fancylink();
    font-size: 6vw;
  }
}