.block.contact {
  height: 50vh;
  .content-area {
    display: table;
    margin: 0 auto;
  }
  .title {
    color: $color-gray;
    text-transform: uppercase;
    margin-bottom: 0.5em;
  }
  .go {
    font-size: 6vw;
    font-weight: 700;
  }
}