.block.general {

  $padding-item: 15px;
  .titles {
    margin-bottom: $padding-site-h-mobile;
  }
  .title {
    font-weight: 700;
    text-transform: uppercase;
    + .title {
      margin-top: 1.5em;
    }
  }

  .content {
    font-size: 1.8em;
    line-height: 1.5;
  }
    .list-contents {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    }

  .block-wrap {
    $padding-v: $padding-site-h-mobile;
    padding-top: $padding-v;
    padding-bottom: $padding-v;
    justify-content: center;
    > .interior {
      width: 100%;
      max-width: $width-inner;
      flex-direction: column;
      align-items: flex-start;
      .cell {
        flex: 1;
        + .cell {
          flex: 2;
        }
      }

      .content ul {
        list-style-type: none;
        padding: 0;
        line-height: 1;
        li + li {
          margin-top: .5em;
        }
      }

      .item-content {
        padding: 5% 2.5%; // emulate active site gutters
        flex: 0 0 100%;
        box-sizing: border-box;
      }
      .list-contents {
        margin: -5% -2.5%;
      }
    }
  }
  @include mq-min($break-desktop) {
    .block-wrap {
      & > .interior, .list-contents {
        align-items: flex-start;
        flex-direction: row;
    }

    }
    .list-contents[data-elts="1"] {
      .item-content {
        flex: 1;
      }
    }
    $wide-padding: 10%;
    .item-content {
      padding-top: $wide-padding;
      padding-bottom: $wide-padding;
    }
    .list-contents {
      margin-top: -$wide-padding;
      margin-bottom: -$wide-padding;
    }
  }

  @include mq-min($break-desktop + 250px) {
    .list-contents:not([data-elts="1"]) {
      .item-content {
        flex: 0 0 50%;
      }
    }
  }

}