.block.logos {
  background-color: $color-black;

  .block-wrap {
    padding: 100px 30px;
    > .interior {
      width: 100%;
    }
  }
  .Gallery {
    $break-unit: 400px;
    flex-direction: row;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    .item-gallery {
      flex: 0 0 33.333333333%;
    }
    .img {
      position: relative;
      &:before {
        content: '';
        display: block;
        padding-top: 25%;
      }
      > .inner {
        @include affix();
        position: absolute;
        background-size: contain;

      }
      img {
        display: none;
      }
    }
  }
}