.block.showcase {
  @extend .color-scheme-dark;
  font-size: 10px;
  height: 100vh;
  padding: 0;
  position: relative;

  // Outer container is a link
  .outer {
    display: block;
    position: absolute;
    @include affix();
    display: flex;
    text-decoration: none;
    > .inner {
      padding: 0 $padding-site-h-mobile;
      align-self: flex-end;
      padding-bottom: 10vh;
    }
  }

  .title {
    font-size: 4.2em;
    margin-bottom: .2em;
  }
  .content {
    line-height: 1.5;
    margin-bottom: 1em;
    max-width: 20em;
  }
  .go {
    text-transform: uppercase;
    font-size: 1.5em;
    text-decoration: underline;
    font-weight: 700;
  }
  .img {
    &, > .inner {
      @include affix();
      position: absolute;
      background-position: center;
    }
    z-index: -1;
  }
  @include mq-min(545px) {
    font-size: 1.8348624vw;
  }
  @include mq-min(777px) {
    font-size: 14.2709px;
  }
}