.block.welcome {
  $content-drift: 100px;
  $content-transition-time: 400ms;
  .block-wrap {
    font-size: 10px;
    @include mq-min(1050px) {
      font-size: 17px;
      .title {
        width: 5em;
      }
    }
    @include mq-min(1630px) {
      font-size: 25px;
      .title {
        width: auto;
      }
    }
    height: calc(100% - #{$gap-welcome-shade});
    background-color: $color-white;
    position: relative;
    width: 100vw;
    > .interior {
      width: 100%;
    }
  }
  .content-area {
    display: table;
  }


  // .title, .content {
  //   transform: translateY(#{$content-drift});
  //   opacity: 0;
  // }
  .title {
    // animation: $content-transition-time ease 0s 1 easeIn;
    font-size: 8em;
    margin-bottom: .15em;
    letter-spacing: -0.041666667em;
  }
  .content {
    // animation: $content-transition-time ease $content-transition-time/2 1 easeIn;
    font-size: 2.5em;
    font-weight: 700;
    line-height: 1.2;
    max-width: 17em;
  }
  .flourish {

  }

  .next {
    opacity: $test-opacity;
    // \2193
  }





  @keyframes easeIn {
    0% {
      transform: translateY(#{$content-drift});
      opacity: 0;
      }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
}