#Footer {
  @extend .color-scheme-dark;
  background-color: $color-black;
  padding: 73px 0;
  font-size: 18px;
  > .interior {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
  }
  > .interior > .cell {
    transition: transform $header-transition-time;

    flex: 0 0 100%;
    position: relative;
    &.b, &.c {
      text-align: center;
    }
    + .cell {
      margin-top: 10px;
    }
    &.c {
      opacity: 0.3;
    }
  }

  .logo-housing {
    $housing-gutter: 20px;
    display: table;
    align-items: center;
    margin: 0 auto;
    > .cell {
      display: table-cell;
      vertical-align: middle;
    }
    .text {
      padding: 0 0 0 $housing-gutter;
    }
  }

  @include mq-min(500px) {
  
    > .interior > .cell {
      display: flex;
      + .cell {
        margin: 0;
      }
      &.a {
        flex: 0 0 60%;
        justify-content: flex-start;
      }
      &.b {
        flex: 0 0 40%;
      }
      &.b, &.c {
        justify-content: flex-end;
      }
      &.c {
        position: absolute;
        right: 0;
        top: calc(50% + 20px);
      }
      .logo-housing, .Menu {
        margin: 0;
      }

    }
    $cell-drift: $padding-site-h-mobile-static;
    .cell.a {
      transform: translateX($cell-drift);
    }
    .cell.b, .cell.c {
      transform: translateX(-$cell-drift);
    }

  }
  @include mq-min($break-desktop) {
    font-size: 22px;

    $cell-drift: $padding-site-h-desktop;
    .cell.a {
      transform: translateX($cell-drift);
    }
    .cell.b, .cell.c {
      transform: translateX(-$cell-drift);
    }


  }
  .tagline {
    font-size: 1em;
  }
  .Menu {
    position: relative;
    font-size: 0.777777778em;
    top: 50%;
    text-transform: uppercase;
    transform: translateY(-50%);
  }
  .copyright {
    font-size: 0.5em;
  }

  .Menu {
    @include clearfix();
    display: table;
    margin: 0 auto;
    .menu-item {
      float: left;
      + .menu-item {
        margin-left: 10px;
      }
    }
    a {
      @include fancylink();
    }
  }
}