.FullBlocks {
  position: relative;
  -webkit-overflow-scrolling: auto;
  .block {
    transition: transform $block-translate-time cubic-bezier(0.0, 0.5, 0.5, 1.0);
    position: absolute;
    transform: translate(0);
    bottom: 0;

    &:not(.active) {
      transform: translateY(100%);
    }
    &.active {
      .BlockNext.default {
        transition-delay: $block-translate-time;
        transform: translate(0);
      }
    }
    &:last-child {
      .BlockNext.default {
        display: none;
      }
    }
  }
  &.block-count-0 {
    display: none;
  }
}