#FullBlocks {
  position: relative;
  height: $height-full;
  -webkit-overflow-scrolling: auto;
  .block {
    transition: transform .4s cubic-bezier(0.0, 0.5, 0.5, 1.0);
    position: absolute;
    transform: translate(0);
    bottom: 0;

    &:not(.active) {
      transform: translateY($height-full);
    }
    &:last-child {
      .BlockNext.default {
        display: none;
      }
    }
  }
  &[data-block-count="0"] {
    display: none;
  }
}