#FullBlocks {
  position: relative;
  height: $height-full;
  .block {
    transition: transform .4s cubic-bezier(0.0, 0.5, 0.5, 1.0);
    position: absolute;
    transform: translate(0);
    bottom: 0;

    &:not(.active) {
      transform: translateY($height-full);
    }
  }
}