#FullBlocks {
  position: relative;
  height: $height-full;
  .block {
    transition: transform .4s;
    position: absolute;
    transform: translate(0);
    &:not(.active) {
      bottom: 0;
      transform: translateY($height-full);
    }

  }

}