#nav-main {
  background: $color-black;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
  a {
    @include fancylink();
    padding: .15em 0;
    display: inline-block;
  }
  .Menu {
    transition: transform $header-transition-time;
    transform: translateX(#{$padding-site-h-mobile});
    @include mq-min($break-desktop) {
      transform: translateX(#{$padding-site-h-desktop});
    }
  }
}