body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



code {
  @include hilite(green);
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

$full-height: 100vh;
#page,
#nav-main,
.block.intro,
#main,
#default {
  height: $full-height;
}
#wrap {
  transition: margin .5s ease;
  margin-top: -$full-height;
  &[data-is-menu-open="true"] {
    margin-top: 0;
  }
}
#page {
  overflow: hidden;
}
#main {
  overflow-y: scroll;
}

.block.welcome {
  height: calc(#{$full-height} - #{$gap-welcome-shade});
}
