body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#wrap {
  transition: margin .5s ease;
  [data-is-menu-open="true"] & {
    overflow: hidden;
    margin-top: 0 !important;
  }
}


.page {
  overflow: hidden;
}
#main {
  overflow-y: scroll;
  [data-has-scroll="false"] & {
    overflow: hidden;
  }
}

// Correct 100vh error
// html,
// body {
//   width: 100%;
//   height: 100%;
//   overflow: hidden;
// }