@mixin hilite($color:red) {
  background-color: rgba($color, .25) !important;
}
@mixin mq-min($width) {
  @media screen and (min-width: $width) {
    @content;
  }
}
@mixin affix($top: 0, $right: 0, $bottom: 0, $left: 0) {
  top: $top;
  bottom: $bottom;
  right: $right;
  left: $left;
}
@mixin fancylink() {
  text-decoration: none;
  position: relative;
  &:after {
    transition: transform .2s ease;
    content: '';
    margin-top: 0.38em;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: .08em;
    transform: scaleX(0);
    transform-origin: left center;
  }
  &:hover{
    transform: scaleX(1);
    &:after {
      transform: scaleX(1);
    }
  }
}