$header-transition-time: .4s;
$block-translate-time: .4s;

$break-desktop: 600px;
$break-large: 768px;
$break-work-archive: 1000px;
$padding-site-v-mobile: 30px;
$padding-site-h-mobile: 10vw;
$padding-site-h-mobile-static: 30px;
$padding-site-v-desktop: 36px;
$padding-site-h-desktop: 50px;
$padding-hamburger: 10px;
$gap-welcome-shade: 60px;
$width-inner: 960px;

$padding-header: 50px + 2*30px; // Logo height + 2*gutter
$padding-block-bottom: 120px;
$font-size-content: 2.1em;
$test-opacity: 0.2;