#transition {
  transition: transform 1000ms cubic-bezier(0.1, 0.4, 0.8, 0);
  width: 150vw;
  position: fixed;
  background-color: #ff405a;
  top: 0;
  left: 0;
  z-index: 10000000;
  pointer-events: none;
  display: block;
  transform: translateX(-101%); /* a little bit further than -100%. correct for rounding errors. */
}
#transition[data-wipe-side="1"] {
  transform: translateX(67%); /* a little but further than 66.6666666667%. correct for rounding errors. */
}

#transition.full-height {
  height: 100vh;
}