#transition {
  transition: transform 1000ms linear;
  height: 100vh;
  width: 150vw;
  position: fixed;
  background-color: #ff405a;
  top: 0;
  left: 0;
  z-index: 10000000;
  pointer-events: none;
  display: block;
  transform: translateX(-100%);
}
#transition[data-wipe-side="1"] {
  transform: translateX(66.666666666667%);
}